
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  /* 目前没什么作用 */

html { font-size:100%; }

body{
  font-family: 　Arial,sans-sans-serif;
  line-height: 1.4;
}

/* First Section */

/* 最顶左上角的baohui deng 名字 */
.baohui{
  color:black;
  text-decoration: none;
  font-weight: bold;
}

.container a:hover{
  color:#e2a97b;
}

.bg-img {
  /* The image used 给图片加一层黑色layer直接用linear gradient 就行不需要
  用到overlay*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),url("2.jpg");
  min-height: 700px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-width: 1000px; */
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
 .container {
  margin: 10px;
  width: auto;
  float: right;
  position: relative;
  max-width: 1000px;
}

.container .baohui{
  top:  1.4rem;
  left: 1rem;
  position: fixed;
}

@media screen and (max-width:414px){
  .container .baohui{
    top:  .8rem;
    left: 1.5rem;
    font-size: .8rem;
  }
}

@media screen and (max-width:411px){
  .container .baohui{
    top:  .8rem;
    left: 1rem;
    position: fixed;
  }
}

@media screen and (max-width:320px){
  .container .baohui{
  font-size: .8rem;
  }
}

/* The navbar */
.topnav {
  overflow: hidden;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #e2a97b;
}

@media  screen and (max-width:600px){
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: .8rem;
  }
}

#showcase{
  height: 91.7vh;
}

.showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:70px;
  left:0;
  bottom:0;
  right:0;
  color:white;
}

.showcase-content h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.showcase-content .btn{
  font-size: 1rem;
  padding:0.4rem 2rem;
}

.btn {
  color:white;
  text-decoration: none;
  display: inline-block;
  padding:1rem 2rem;
  border:1px solid #e2a97b;
  border-radius: 10px;
  font-weight: bold;
}

.container .btn:hover{
  background-color: #e2a97b !important;
  color: black;
  transition: 0.6s;
}









/* section biography*/

.container0{
    max-width: 1100px;
    margin: auto;
}

#biography{
  padding:5rem 0;
}

.text-primary{
  color:grey;
}

#biography h2, #services h2{
  text-align:center;
  font-size:2rem;
  margin-bottom:2rem;
/*   margin-top: -2rem; */
}

#biography h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#biography p.lead{
  margin-bottom:1rem;
}

#biography .about-content{
  display: block;
}

#biography .about-text,
#biography .about-image{
  flex:1;
}

#biography .about-text{
  text-align: justify;
}

#biography .btn-resume:hover{
  background:#e2a97b;
  color:black;
  transition: 0.6s;
}

#biography .btn-resume{
  border: 1px solid #e2a97b;
  font-size: .8rem;
  border-radius: 30px;
  padding: 10px 25px 10px 25px;
  margin-left: 40%;
  margin-right: 40%;
  color: black;
  font-family: arial;
  font-weight: bold;
  background-color: white;
}

.youtubelink{
  color:#e2a97b;
}

.youtubelink:hover{
  color:grey;
}

@media  screen and (max-width:1160px){
    #biography{
    padding:5rem 2rem;
  }
  #biography h2, #services h2{
    text-align:center;
    font-size:2rem;
    margin-bottom:2rem;
  }
  #biography h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #biography p.lead{
    margin-bottom:1rem;
  }
  }

@media screen and (min-width:1000px){
  #biography .about-image img{
    display: block;
    margin-left:auto;
    width:50%;
    margin-bottom: 50px;
  }
}

#biography .about-image img{
  display: inline-block;
  width:70%;
  height: 50%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ga {
  float: left;
  width: 50%;
  height: 40%;
  padding: -2rem;
  margin-top: 1rem;
}

.about-image::after {
  content: "";
  clear: both;
  display: table;
}

.i1{
  transform: rotate(360deg);
}

@media  screen and (max-width:768px){
  #biography .btn-resume{
    padding: 5px 10px 5px 10px;
    margin-top: 2%;
  }
}

@media  screen and (max-width:700px){
  #biography .btn-resume{
    padding: 5px 10px 5px 10px;
    font-size: .5rem;
  }
}

@media  screen and (max-width:650px){
      #biography{
      padding:5rem 2rem;
    }

    #biography h2, #services h2{
      text-align:center;
      font-size:1.4rem;
      margin-bottom:2rem;
    }
    #biography h3{
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    #biography p.lead{
      margin-bottom:1rem;
      font-size: .9rem;
    }

    #biography .btn-resume{
      padding: 5px 10px 5px 10px;
      margin-left: 40%;
      margin-right: 40%;
    }
    }

@media screen and (max-width: 500px) {
      .ga {
        width: 100%;
            }

      #biography .about-image img{
        margin-top: 1.5rem;
        margin-bottom: .5rem;
      }
    }

@media  screen and (max-width:414px){
      #biography .btn-resume{
        padding: 10px 25px 10px 25px;
        margin-left: 0;
        margin-right: 25%;
        font-size: .5rem;
     }
    }

@media  screen and (max-width:411px){
      #biography .btn-resume{
        padding: 10px 25px 10px 25px;
        margin-left: 0;
        margin-right: 25%;
        background: white;
        font-size: .6rem;
     }
    }

@media  screen and (max-width:375px){
    #biography .btn-resume{
      padding: 10px 25px 10px 25px;
      margin-left: 0;
      margin-right: 25%;
      background: white;
      font-size: .5rem;
   }
    #biography h2{
      margin-top: -1.5rem;
    }
    .education .education-heading{
      margin-top: -1.5rem;
    }
}












/* ----  section:education -----*/

/*  --- 直接在section 的class设置background color---*/
.education{
  background: #f4f4f4;
}

.timeline{
margin-left: 3rem;

}

.timeline ul{
  border-left: 4px solid grey;
  border-radius: .9rem;
  background-color: rgba(0, 0, 0, 0.0.5);
  margin: 0 auto;
  position: relative;
  padding: 2rem;
  list-style: none;
  text-align: justify;
  width: 100%;
  margin-bottom: -2rem;
  margin-top: 3rem;
}

.educationbox{
margin-left: 25%;
}

#education h1{
  text-align:center;
  font-size:2rem;
  margin-bottom:-6rem;
  margin-top: -2rem;
  padding:4rem;
  color:black;
}

.fa-university,.fa-graduation-cap{
  color:#e2a97b;
}

.timeline p{
  color:	#606060;
}

.timeline h2{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0rem;
  left: 10px;
  margin-top: -1rem;
  color: #707070;
}

/* 时间轴右边的li*/
.timeline .date{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.timeline .date:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

/* 时间轴上的数字日期*/
.timeline .date::before, .timeline .date::after{
  position: absolute;
  display: block;
  top:50%;
  transform: translateY(-50%);
}

/* 时间 2019-present */
.timeline .date::before{
  content: attr(data-date);
  left:-20rem;
  text-align: justify;
  min-width: 12rem;
  font-size: 1rem;
  color:grey;
}

/* 时间轴上的点点*/
.timeline .date::after{
  content:'';
  box-shadow: 0 0 0 4px grey;
  border-radius: 100%;
  left: -2.4rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #313534;
}

@media  screen and (max-width:1160px){
/* 日期 present */
  .timeline .date::before{
    content: attr(data-date);
    left:-18rem;
    text-align: justify;
    min-width: 12rem;
    font-size: 1rem;
    color:grey;
  }
/* 点点点*/

  .timeline .date::after{
    content:'';
    box-shadow: 0 0 0 4px grey;
    border-radius: 100%;
    left: -2.4rem;
    height: 0.5rem;
    width: 0.5rem;
    background-color: #313534;
  }

  .timeline ul{
    border-left: 4px solid grey;
    border-radius: .9rem;
    background-color: rgba(0, 0, 0, 0.0.5);
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    list-style: none;
    text-align: left;
    width: 70%;
    margin-bottom: -2rem;
    margin-top: 3rem;
    left: 7rem;
  }

  .timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding: 1.5rem;
    position: relative;
  }

  .educationbox{
    margin-left: 3%;
  }
}

@media screen and (max-width:700px){
.timeline .date::before{
  content: attr(data-date);
  left:-15rem;
  text-align: justify;
  min-width: 12rem;
  font-size: 1rem;
  color:grey;
  font-size: .9rem;
}

.timeline ul{
font-size: .7rem;
width: 70%;
margin-left: -1rem;
}

.timeline h2{
  font-size: .8rem;
}

.timeline .date::after{
  left: -2.2rem;
  height: 0.2rem;
  width: 0.2rem;
}

.timeline ul{
  border-left: 2px solid grey;
  border-radius: .9rem;
  left: 40%;
}

#education h1{
  text-align:center;
  font-size:1.4rem;
}
}

@media screen and (max-width:414px){
.timeline .date::before{
  left:-9rem;
  width: 80px;
  font-size: .6rem;
}

.timeline li{
  margin-left: -2rem;
}

.timeline ul{
  padding-left: -.9rem;
  width: 220px;
}

.timeline .date::after{
  left: -.1rem;
  width: .1rem;
  height: .1rem;
}
}

@media screen and (max-width:411px){
  .timeline .date::before{
    content: attr(data-date);
    left:-10rem;
    text-align: justify;
    min-width: 12rem;
    font-size: 1rem;
    color:grey;
    font-size: .7rem;
  }

  .timeline h2{
    font-size: .7rem;
  }

.timeline li{
  margin-left: -2rem;
}

.timeline .date::after{
  left: -.2rem;
}
}

@media screen and (max-width:375px){
.timeline .date::before{
  content: attr(data-date);
  left:-10rem;
  text-align: justify;
  min-width: 12rem;
  font-size: 1rem;
  color:grey;
  font-size: .7rem;
}

.timeline .date::after{
  left: -.1rem;
  width: .1rem;
  height: .1rem;
}

.timeline h2{
  font-size: .6rem;
}
}

@media screen and (max-width:320px){
.timeline .date::before{
  left:-9rem;
  width: 80px;
  font-size: .6rem;
}

.timeline li{
  margin-left: -2rem;
}

.timeline ul{
  padding-left: -.9rem;
  width: 220px;
}

.timeline .date::after{
  left: -.1rem;
  width: .1rem;
  height: .1rem;
}
}









/*  -------experience-----*/

.experience .bigbox{
  display: flex;
  flex:1 200px;
  margin-bottom: 4rem;
  margin-left: 10%;
}

.fa-map-marker, .fa-calendar-alt{
  color: #e2a97b;
}

.experience .experience-heading{
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.experience h1{
  font-size: 2rem;
}

.experience .leftbox{
  padding: 10px;
  margin-top: 1rem;
  display: inline-block;
  float: right;
  margin-right:2rem;
}

.leftbox .text{
  display: inline-block;
  width: 12rem;
}

 .rightbox .distance{
   padding: 3px;
}

.experience .rightbox{
padding: 5px;
float: right;
margin-top: 1rem
margin-bottom:-1rem;
text-align: justify;
margin-left: 10%;
margin-right:10%;
}

.experience .ul{
  text-decoration: none;
}






/*  phone pixel*/


@media screen and (max-width:768px){
  .experience .bigbox{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .experience .experience-heading{
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .experience{
    background: white;
    height: 1730px;
    margin-bottom: -45rem;
    }

  .experience .leftbox{
      text-align: left;
      margin-top: .8rem;
      padding: 5px;
      margin-left: 20%;
      width: 70%;
    }

  .experience .rightbox{
    padding: 3px;
    float: right;
    margin: 0rem 20%;
    width: 70%;
    }

    .experience h1{
      font-size: 1.4rem;
    }
}


@media screen and (max-width:590px){
 .experience{
   margin-bottom: -37rem;
}
}

@media screen and (max-width:414px){
  .experience .bigbox{
    display: flex;
    flex-direction: column;
  }

 .experience .boxcon{
   font-size: .9rem;
   margin-left: -5%;
   margin-right: 0%;
   margin-top: -1rem;
 }
 .experience{

   margin-bottom: -40rem;
}
}

@media screen and (max-width:411px){
  .experience .bigbox{
    display: flex;
    flex-direction: column;
  }

 .experience .boxcon{
   font-size: .9rem;
   margin-left: -5%;
   margin-right: 0%;
   margin-top: -1rem;
 }

 .experience{

   margin-bottom: -40rem;
}
}

@media screen and (max-width:375px){
  .experience .experience-heading h1{
    margin-top: 5rem;
    text-align: justify;
    text-align: center;
  }

  .experience{
    background: white;
    height: 1700px;
    margin-bottom: -36rem;
}
}


@media screen and (max-width:360px){


  .experience{

    margin-bottom: -36rem;
}
}

@media screen and (max-width:320px){
  .experience{
    margin-bottom: -33rem;
    }
}








/* ------  section: Skill------- */
#services{
  padding:5rem 0;
}

#services h2{
  font-size: 2rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

#services h3{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#services .boxes{
  display: flex;
}

#services .box{
  background: #fff;
  flex:1;
  padding:1rem;
  margin: 0 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #d1d1d1;
  font-size: 1.1rem;
}

.fa-check-circle{
  color:#e2a97b;
}

.feature{
  text-align: justify;
  white-space:nowrap; /* to force the content in the div stay on the same line*/
}

.box .icon
{
margin-top: -4rem;
margin-left: 30%;
margin-right: 30%;
}

.box .iconw{
  margin-top: -4rem;
  margin-left: 32%;
  margin-right: 30%;
}

.bg-light{
  background: #f4f4f4;
  color:#333;
}



@media  screen and (max-width:1160px){
  .box .icon{
  margin-top: -4rem;
  margin-left: 30%;
  margin-right: 30%;
  }

  .box .iconw{
    margin-top: -4rem;
    margin-left: 32%;
    margin-right: 32%;
  }

  #services .box{
    background: #fff;
    flex:1;
    padding:1rem;
    margin: 0 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.1rem;
    width: 180px;
  }

  .feature{
    padding: 1rem;
    overflow-x:scroll;
  }
}

@media screen and (max-width:768px){
  #services .boxes{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 19%;
    margin-right: 19%;
    margin-bottom: -2%;
  }

  #services .box{
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 400px;
  }

  .box .icon
  {
  margin-top: -4rem;
  margin-left: 35%;
  margin-right: 40%;
  }

  .box .iconw{
    margin-top: -4rem;
    margin-left: 40%;
    margin-right: 40%;
  }

  .box .feature{
    margin-top: -1.5rem;
  }
}

@media screen and (max-width:600px){
  #services .boxes{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 13%;
    margin-right: 25%;
  }

  #services h2{
    font-size: 1.4rem;
  }

  #services .box{
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 300px;
  }
  .box .icon
  {
  margin-top: -4rem;
  margin-left: 32%;
  margin-right: 32%;
  }

  .box .iconw{
    margin-top: -4rem;
    margin-left: 35%;
    margin-right: 35%;
  }
}

@media screen and (max-width:414px){
  #services .boxes{
    margin-left: 6%;
    margin-right: 6%;
}
.box .icon
{
margin-top: -4rem;
margin-left: 32%;
margin-right: 32%;
}

.box .iconw{
  margin-top: -4rem;
  margin-left: 35%;
  margin-right: 35%;
}
}

@media screen and (max-width:411px){
  #services .box{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1rem;
}

#services .boxes{
  margin-top: -1rem;
  margin-bottom: -4rem;
}

#services h3{
  font-size: 1.3rem;
}

.box .icon
{
margin-top: -4rem;
margin-left: 30%;
margin-right: 30%;
}

.box .iconw{
  margin-top: -4rem;
  margin-left: 34%;
  margin-right: 34%;
}
}

@media screen and (max-width:375px){
  #services .boxes{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 18%;
    margin-right: 18%;
  }

  #services h2{
    margin-bottom: 1rem;

  }

  #services .box{
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 200px;
  }

  .box .icon
  {
  margin-top: -4rem;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 50%;
  }

  .box .iconw{
    margin-top: -4rem;
    margin-left: 32%;
    margin-right: 32%;
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width:360px){
  #services .boxes{
  margin-top: -5%;
  margin-left: 18%;
}
}

@media screen and (max-width:320px){
  #services .boxes{
    margin-left: 12%;
    margin-right: 15%;
}
}






/*----Projects */



.project{
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.project h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: -1rem;
}

.leftbox h4{
  color: grey;
  font-size: .8rem;
}

.projectbox{
  display: flex;
  padding: 1rem;
}

.description{
margin-left: 2rem;
text-align: justify;
}

.knowledge{
margin-bottom: 1rem;
}

.fa-java, .fa-server, .fa-database{
  font-size: 2rem;
  margin: 0 5px;
  color: #e2a97b;
}

@media screen and (max-width:768px){
  .projectbox{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

.projectbox .galary {
    margin-left: 8rem;
}

.galary img{
  max-width: 100%;
  height:auto;
}

.description{
  padding: 1.5rem;
}

.project h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}}

@media  screen and (max-width:628px){
.galary img{
  max-width: 100%;
  height: auto;
  margin-left: -4.5rem;
}

.description{
  padding: 1.5rem;
  font-size: .9rem;
}

.project h1{
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
}

@media  screen and (max-width:414px){
.project h1{
  margin-top: -2rem;
  margin-bottom: 2rem;
}
.galary img{
  max-width: 130%;
  height: auto;
  margin-left: -5rem;
}
}

@media  screen and (max-width:411px){
.project h1{
  margin-top: -2rem;
  margin-bottom: 2rem;
}
.galary img{
  max-width: 120%;
  height: auto;
  margin-left: -4rem;
}
}

@media  screen and (max-width:375px){
.galary img{
  max-width: 160%;
  height: auto;
  margin-left: -7rem;
}

.description .textparagraph{
  width: 240px;
  margin-left: -2rem;
}
}

@media  screen and (max-width:360px){
  .project h1{
  margin-top: -5%;
  }

  .description .textparagraph{
  width: 250px;
  margin-left: -2rem;
  }

  .galary img{
    max-width: 160%;
    height: auto;
    margin-left: -70%;
  }
}

@media  screen and (max-width:320px){
.textparagraph{
  width:256px;
  padding-right: 3rem;
}
.galary img{
  max-width: 200%;
  height: auto;
  margin-left: -115%;
}
}




/* --------- Contact ------*/

.contact{
  padding-top: 50px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)),url(1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contact .text-center{
text-align: center; /* 这个是给h1 和p一个div 然后style div 让它在page中间*/
color: white;
}

.text-center h1{
  font-size: 2rem;
}

.contact .row{
  padding: 40px;
  font-size: 22px;
  display: flex;
  justify-content: center; /* 这个用来把里面三个box center在page中间*/
}

.contact .col-md-4{
  padding: 15px 30px;
  text-align: center; /* 这个是吧icon center在中间*/
  color:#fff;
}

.contact .col-md-4 .fa{
padding: 10px;
font-size: 40px;
}

.contact .btn{
  padding: 10px 25px 10px 25px;
  margin: 5px;
  border-radius: 30px;
  border: 1px solid #e2a97b;
  background: transparent;
  font-size: 1rem;
}

.contact .buttoncontainer{
  text-align: center;
  padding: 2rem;
}

.contact .btn:hover{
  background:#e2a97b;
  color:black;
  transition: 0.6s;
}

.contact .btn  .fa{
  margin-right: 15px;
}


.contact .map{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -3.5rem;
}


.map .googlemap{
  filter: grayscale(100%);
}

.footer{
  background: #000;
  height: 70px;
  margin-top: 70px;
  color:white;
  padding-top: 10px;
}

@media  screen and (max-width:700px){
  .contact .row{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .contact .btn{
    margin-left: 43%;
    margin-right: 40%;
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    margin-bottom: .8rem;
  }

  .text-center h1{
    font-size: 1.4rem;
  }
}

@media  screen and (max-width:414px){
  .contact .btn{
    margin-left: 43%;
    margin-right: 40%;
    font-size: .6rem;
    padding: 5px 10px 5px 10px;
    margin-top: -1%;
  }}

@media  screen and (max-width:411px){
  .contact .btn{
    margin-left: 43%;
    margin-right: 40%;
    font-size: .6rem;
    padding: 5px 10px 5px 10px;
    margin-top: -1%;
  }}

@media  screen and (max-width:375px){
  .contact .row{
    display: block;
    font-size: 1rem;
  }

  .contact .btn{
    margin-left: 40%;
    margin-right: 40%;
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
  }

  .contact .buttoncontainer{
      margin-top: -5%;
  }
}

@media  screen and (max-width:360px){
  .contact .btn{
    width: 59px;
  }
}

@media  screen and (max-width:320px){
  .contact .btn{
margin-left: 40%;
margin-right: 40%;
  }
}
